body {
    margin: 0;
    max-width: fit-content;
    background-image: linear-gradient(to left top, #2f104e, #310e58, #320b61, #32076c,
    #320476, #3f0b82, #4d138e, #5a1a9a, #772daa, #923fbb, #ae52cb, #c966dc);
    font-family: "Space Mono", monospace;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

.todo-list {
    background-color: #c966dc;
    border-radius: 50px 2px 25px 2px;
    box-shadow: 10px 10px 15px #2f104e, -10px -10px #923fbb, -20px -20px #772daa;
    padding: 1.5rem;
    min-width: 400px;
    min-height: 300px;    
    transition-duration: 500ms;
}
.todo-list:hover {
    transform: scale(1.2);
    transition-duration: 250ms;
}

.title {
    border-bottom: 1px solid rgba(246, 241, 209, 0.5);
    font-size: 1.5rem;
    font-family: "BioRhyme", serif;
    color: #F6F1D1;
}

.form {
    display: flex;
    justify-content: center;
}

.form-input,
.form-button {
    border-radius: 0;
    padding: 0.75rem;
    font-size: 0.75rem;
}

.form-output {
    outline: none;
    background-color: #F6F1D1;
    border-color: rgba(255, 255, 255, 0.1);
}

.form-button {
    border: 1px;
    background: #2f104e;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 0.75rem;
    color: whitesmoke;
    transition-duration: 400ms;
}

.form-button:hover {
    color: #c966dc;
    background: #3f0b82;
    transition-duration: 200ms;
}

.list {
    padding: 0;
    list-style: none;
    width: 100%;
}

.task {
    background-color: rgba(255, 255, 255, .1);
    color: #2f104e;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    transition-duration: 500ms;
}

.task:hover {
    background: #310e58;
    color: antiquewhite;
    transition-duration: 250ms;
}

.check-button, .delete-button {
    color: whitesmoke;
    margin-left: 1.25em;
    background-color: #adcb75  ;
    border-radius: 5px;
}

.task.done .content {
    text-decoration: line-through;
  }

